.char-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.char-block {
    width: 150px;
    height: 175px;
    text-align: center;
    margin: 5px 5px;
    font-family: 'Iceland', cursive;
    text-transform: uppercase;

    h4 {
        font-size: 15px;
        margin: 5px;
    }

    img {
        width: 150px;
    }
}