.content-box {
    margin: 30px 0px;
    background-color: $second-bg-color;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;

    h3 {
        text-decoration: underline;
        font-size: 16px;
    }

    h5 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .main-links {
        margin-bottom: 10px;
    }

    .link-icons {
        font-size: 20px;
    }

    a {
        text-decoration: none;
        color: #fff;
    }
}