.nav-tabs {
    background-color: #45568a;

    & > li > a {
        color: #fff !important;
    }
    & > li.active > a,
    & > li.active > a:hover
    & > li.active > a:focus {
        background-color: $second-bg-color !important;
    }
}

.tab-content {
    background-color: $second-bg-color;
    padding-bottom: 20px;
    border: solid 1px #fff;
    border-top: none;
}
.tab-pane {

    text-align: center;
    display: flex !important;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    color: #fff;

    ul {
        list-style: none;
        padding: 0px;
    }

    &:not(.active) {
        display: none !important;
    }

    .entry-box {
        width: 200px;
    }
}