.ari {
    color: #307d7e;
}

.azu {
    color: #8b99ab;
}

.code {
    color: #2b3856;
}

.kan {
    color: #ffa62f;
}

.knerr {
    color: #8b0000;
}

.red {
    color: #ff6347;
}

.refu {
    color: #d68837;
}

.rho {
    color: #7a2eaa;
}

.sami {
    color: #3bb9ff;
}

.pan {
    color: #ffcc98;
}

.cia {
    color: #80e1ff;
}